.container-fluid {
	background-color:rgb(225, 255, 255);
}
h1 {
	text-align:center;
}
p {
	font-size:24px;
	text-align:center;
}
#heading {
	margin-top:50px;
}
#temperature {
	font-size: 24px;
	color:#0073e6;
	text-align:center;
	cursor:pointer;
}
#weatherIcon {
	margin-left: 45%;
	
}
#click_para {
	font-size:14px;
}
#vaneInfo {
	width: 350px;
	height: auto;
	font-size: 12px;
	margin-top:50px;
}
#wind_vane, #vaneDemo{
	font-size:18px;
}
#hideshow {
	font-weight:bold;
}
#weatherBtn {
	height: 30px;
	background-color: #eae0c8;
	outline: none;
	
}
#zipcode {
	margin-top: 20px;
	margin-left: 5%;
	width: 120px;
	height: 30px;
	background-color: #eae0c8;
	font-size: 14px;
	text-align: center;
}
#zipMessage {
	display: block;
	width: 300px;
	height: auto;
	font-size: 12px;
	margin-top:50px;
}


